<div class="alert-area">
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success alert-thin" role="alert">@Html.Raw(TempData["Success"])</div>
    }

    @if (TempData["Info"] != null)
    {
        <div class="alert alert-info alert-thin" role="alert">@Html.Raw(TempData["Info"])</div>
    }

    @if (TempData["Warning"] != null)
    {
        <div class="alert alert-warning alert-thin" role="alert">@Html.Raw(TempData["Warning"])</div>
    }

    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger alert-thin" role="alert">@Html.Raw(TempData["Error"])</div>
    }
</div>