@model Challenge.Application.Business.Users.Queries.UpdatePasswordAdminQuery

@{
    ViewData["Title"] = "Parola Güncelle";
}

<div class="navbar navbar-expand-md navbar-light navbar-sticky mb-4">
    <div class="text-center d-md-none w-100">
        <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-demo2-mobile">
            <i class="icon-menu7 mr-2"></i>
            Menü
        </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-demo2-mobile">
        <span class="navbar-text">
            <i class="icon-user-check mr-2"></i>
            <a href="@Url.Action("Index", "Account")">@User.Claims.FirstOrDefault(x => x.Type ==
                "Email")?.Value.ToString()</a> ile oturum açtınız.
        </span>
        <ul class="navbar-nav ml-md-auto">
            <li class="nav-item">
                <a href="/Account" class="navbar-nav-link">
                    Hesap Ayarları
                    <i class="icon-plus3 ml-1"></i>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="page-content pt-0">
    @await Component.InvokeAsync("SidebarMenu")
    <div class="content-wrapper">
        <div class="content">
            @await Component.InvokeAsync("Alert")
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header header-elements-inline">
                            <h5 class="card-title">Parola Güncelle</h5>
                        </div>
                        <div class="card-body">
                            <form asp-controller="Account" asp-action="UpdatePassword" asp-antiforgery="true" method="post">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label asp-for="CurrentPassword">Güncel Parola</label>
                                        <input asp-for="CurrentPassword" type="password" class="form-control">
                                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label asp-for="NewPassword">Yeni Parola</label>
                                        <input asp-for="NewPassword" type="password" class="form-control">
                                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label asp-for="NewPasswordConfirm">Yeni Parola Tekrar</label>
                                        <input asp-for="NewPasswordConfirm" type="password" class="form-control">
                                        <span asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-backoffice-primary float-right">Kaydet <i class="icon-paperplane ml-2"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>